@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root{
  
  --wl-color-primary: #a71f71;
  --wl-color-primary-rgb: rgb(167, 31, 113);
  --wl-color-primary-contrast: #ffffff ;
  --wl-color-primary-contrast-rgb:rgb(255, 255, 255);
  --wl-color-primary-shade: #931b63;
  --wl-color-primary-tint: #b23a82;
  
  --wl-color-secondary: #252526;
  --wl-color-secondary-rgb: rgb(37, 37, 38);
  --wl-color-secondary-contrast: #ffffff ;
  --wl-color-secondary-contrast-rgb:rgb(255, 255, 255);
  --wl-color-secondary-shade: #212121;
  --wl-color-secondary-tint: #3f3f40;
  /* --app-background: var(--wl-color-secondary, #252526);
  --app-color: #f1f1f1; */
    
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--app-background, unset);
  color: var(--app-color, unset);
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.container{
  display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
  }
  
  @media screen and (min-width: 1000px){
    .container{
      max-width: 700px;
    }
  }
  @media screen and  (max-width: 570px){
    .container{
      padding-left: 5px;
      padding-right: 5px;
  }
}

.spacer{
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* padding-bottom: 1rem; */
}




img{
  width: 100%;
  max-width: 200px;
}

.btn{
  border: none;
  outline: none;
  padding: 8px 12px;
  margin: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto, serif;
  font-size: 0.9rem;
  line-height: 0.9rem;
  word-spacing: 0.2rem;
  cursor: pointer;
  display: inline-block;
}

.btn:hover{
  background: #61dafb;
}


.btn:active, .btn:focus{
  outline: 1px solid #cacaca;
}


.code-content{
  /* border: 1px solid gray; */
  /* padding: 1rem; */
  padding: 0.5rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.title-container{
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;
}